.u-margin-top-small {
  margin-top: 2rem !important;

  @include respond(phone) {
    margin-top: 1rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 3rem !important;

  @include respond(phone) {
    margin-top: 1.5rem !important;
  }
}

.u-margin-top-large {
  margin-top: 4rem !important;

  @include respond(phone) {
    margin-top: 2rem !important;
  }
}

.u-margin-top-largest {
  margin-top: 4rem !important;
}

.u-center-text {
  text-align: center;
}
