.main {
  max-width: 100rem;
  background-color: var(--color-primary);
  margin: 5rem auto;
  border: 1.6rem solid var(--color-brown-dark);

  @include respond(phone) {
    margin: 0;
  }
}

.header {
  @include headFoot;
}

.feature {
  &__img {
    max-width: 100%;

    &-caption {
      &--main {
        font-size: 3.5rem;
        font-weight: 800;
        font-style: italic;
      }

      &--sub {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 4rem;
        color: var(--color-brown-light);
      }

      &--blockquote {
        font-size: 2.5rem;
        line-height: 3.6rem;
        font-style: italic;
        text-align: center;

        &::before {
          content: open-quote;
          @include quoteStyle;
        }

        &::after {
          content: close-quote;
          @include quoteStyle;
        }
      }
    }
  }
}

.footer {
  @include headFoot;

  &__link {
    @extend %heading;
    font-size: 2.6rem;
    font-style: italic;
    color: var(--color-gray-dark);

    @include respond(phone) {
      text-align: center;
    }
  }
}
